<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Cookies</title>
</head>

<body>
    <h1>Set Cookies</h1>
    <form action="/set_user_cookies" method="post">
        <button type="submit" name="user" value="user1">Set User 1's Cookies</button>
        <button type="submit" name="user" value="user2">Set User 2's Cookies</button>
    </form>
    <p>See your browser's developer tools (Chrome, Edge, etc.) to view the cookies</p>
    <a href="/">Go back to home page</a>
</body>

</html>